<?xml version="1.0" ?>
<model>
    <name>ground_red</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Joaquin Terrasa</name>
        <email>quino.terrasa+dev@gmail.com</email>
    </author>
    <description>A simple model to define pedestrian paths</description>
</model>
